/* primo esercizio */
.ex-1-square{
    transition: all 2s ease 0s;
}

.ex-1-square:hover{
    background-color: red;
}


/* secondo esercizio */

.ex-2-square{
    transition: all 2s ease 0s;
}

.ex-2-square:active{
    width: 100%;
}

/* terzo esercizio */

.ex-3-square{
    transition: all .5s ease 0s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* quarto esercizio */

.ex-4-square{
    transition: all 4s ease 0s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* quinto esercizi */

.ex-5-square{
    transition: all 4s ease 0s;
}
.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.5);
}

/* sesto esercizio */

.ex-6-img{
    transition: all 1s ease 0s;
}
.ex-6-img:hover{
    filter:grayscale(100%);
}

/* settimo esercizio */

.ex-7-img{
    animation-name:two-effect;
    animation-duration: 4s;
}

@keyframes two-effect{
    0%{
        filter: none;
    }

    50%{
        filter: blur(1rem);
    }

    100%{
        filter: grayscale(100%);
    }
}

/* esercizio otto */

.ex-8-img{
    animation-name:three-effect;
    animation-duration: 4s;
}

@keyframes three-effect{
    0%{
        filter: none;
        border-radius: 0;
    }

    50%{
        filter: blur(1rem);
        border-radius: 10%;
    }

    100%{
        filter: grayscale(100%);
        border-radius: 50%;
    }
}


/* esercizio nove */

.ex-9-img{
    animation-name:four-effect;
    animation-duration: 4s;
}

@keyframes four-effect{
    0%{
        filter: none;
        border-radius: 0;
        transform: scale(1);
    }

    50%{
        filter: blur(1rem);
        border-radius: 10%;
        transform: scale(0.5);
    }

    100%{
        filter: grayscale(100%);
        border-radius: 50%;
        transform: scale(2);
    }
}

/* esercizio dieci */

.ex-10-icon{
    animation: rotate 5s infinite linear;
}

@keyframes rotate{
   from {
    transform: rotate(0deg);
   } 
   to {
    transform: rotate(359deg);
   } 
}


/* esercizio undici */
.ex-11-icon:hover{
    animation: rotate2 4s infinite linear;
}

@keyframes rotate2{
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(0);
    }
 }


 /* esercizio dodici */

.ex-12-button:hover .ex-12-top-white {
    animation: top 2s linear;
}
@keyframes top {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}
.ex-12-button:hover .ex-12-bottom-white {
    animation: bot 2s linear;
}
@keyframes bot {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

/* esercizio tredici */
.ex-13-button:hover .ex-13-top-white {
    animation: top 1s linear infinite;
}
@keyframes top {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: bot 1s linear infinite;
}
@keyframes bot {
        0% {
            bottom: -10px;
            right: 20%;
        }
        30% {
            right: calc(100% - 30px);
            bottom: -10px;
        }
        45% {
            right: calc(100% - 30px);
            bottom: 100%;
        }
        75% {
            right: 0;
            bottom: 100%;
        }
        90% {
            right: -15px;
            bottom: -10px;
        }
        100% {
            bottom: -10px;
            right: 20%;
        }
}
